$workSansBold: 'WorkSans-Bold', sans-serif;
$workSansMedium: 'WorkSans-Medium', sans-serif;
$primary: #11C1D3;
$secondary: #27EE9E;
$new: #ebded5;

$accent-color: #989eac;

body {
    background-color: #100304;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

}

.row-limit-size {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

header {

    #logoBurger {
        display: flex;
        justify-content: space-between;
        margin: 25px 0;

        #logo {
            width: 250px;
            height: 200px;
            margin-left: 40px;
        }

        #menuBurger {
            width: 50px;
            height: 50px;
            margin-top: 60px;
            margin-right: 40px;
            display: block;

        }
    }

    nav {
        #navigation {
            display: none;

            li {
                padding: 20px 0;
                text-align: center;
                width: 300px;

                a {
                    font-family: $workSansMedium;
                    font-size: 1.2rem;
                    color: white;
                    padding: 20px 0;
                }
            }

        }

        #navigation.active {
            display: block;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
}

// *-*-*-*-*-*-*-*-*-*SINGLE POST*-*-*-*-*-*--*-*-*-*//




.background {

    font-family: $workSansBold;

    img {
        width: 100%;
    }

    #titleBack {
        position: fixed;
        display: block;
        top: 2rem;
        right: 10rem;
        font-size: 2rem;
       
        color: white;

    }
}

main {

    position: relative;
    border: 1px solid #fff;
    font-family: $workSansMedium;
    font-size: 1.4rem;
    padding: 2rem 5%;
    line-height: 1.6;

    .signature {
        font-size: 1.2rem;
        color: #27EE9E;
        margin-top: 10px;
        padding: 20px;
        text-align: end;
    }

    .author {
        font-weight: bold;
        margin-right: 10px;
    }

    .date {
        margin-left: 10px;
    }

    h2 {
        font-family: $workSansMedium;
        font-size: 1.4rem;
        color: #27EE9E;
    }

    p {
        font-family: $workSansMedium;
        font-size: 1.4rem;
        color: white;
        text-align: justify;
    }
}

// *-*-*-*-*FOOTER*-*-*-*-

footer {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    align-items: center;

    #footerLogo {
        width: 450px;
        height: 220px;
    }

    .copyright {
        width: 100%;
        height: 20px;
        font-size: .8rem;
        font-family: $workSansBold;
        color: white;


        #copy {
            text-align: center;
        }
    }
}




// media queries/
@media all and (max-width: 400px) {
    header {

        #logoBurger {
            display: flex;
            justify-content: space-between;
            margin: 25px 0;

            #logo {
                width: 150px;
                height: 150px;
                margin-left: 40px;
            }

            #menuBurger {
                width: 30px;
                height: 30px;
                margin-top: 60px;
                // margin-right: 40px;
                display: block;

            }
        }
    }

    main {
        padding: 2rem;
        border: inherit;

        p {
            
            font-size: 1rem;
            text-align: inherit;
        }
    }

    .background {
        width: 280px img {
            width: 80%;
        }
        #titleBack {
            #titleBack {
                position: fixed;
                display: block;
                top: 2rem;
                right: 10rem;
                font-size: 1.2rem;
                display: block;
                color: white;
        
            }
           
    
        }


    }
}
@media only screen and (min-width: 437px) and (max-width: 905px) {
    main {
        padding: 2rem;
        border: inherit;

        p {
            
            font-size: 1rem;
            text-align: inherit;
        }
    }

    .background {
      
        img {
            width: 100%;
        }
        #titleBack {
           
                position: fixed;
                display: block;
                top: 2rem;
                right: 10rem;
                font-size: 2rem;
                display: block;
                color: white;
        
            }
           
    
        }


    }
